body {
    background-color: rgba(0, 0, 0, 0.4);
}


.container-1-prova {
    height: 100vh;
    padding: 0;
}

.container-2-prova {
    height: 100vh;
    padding: 0;
}

.avatar-icons {
    width: 45px;
    border-radius: 50%;
}

.nome-utente{
    background-color: lightgray;
}

.nome {
    margin: 0;
}

.header-icons {
    padding: 10px;
    color: gray;
}


/* Sezione Notifiche */
.notifiche {
    line-height: 15px;
    background-color: lightblue;
}

.icona-notifiche-container {
 
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
   
}

.icona-notifica{
    font-size: 1.2rem;
    color: lightblue;
}

.notifiche-testo,
.nome-chat{
    font-size: 0.75rem;
}

.attiva-notifiche {
    font-size: 0.65rem;
    color: gray;
}


/* Sezione cerca chat */
.cerca-chat {
    background-color: lightgray;
}

.form-control,
.cerca-chat-icona{
    color: lightgray;
    font-size: 0.7rem;
}

#search-addon {
    justify-content: center;
    width: 15%;
    background-color: white;
}



/* Sezione Chats */


.colonna-1-main {
    background-color: white;
}

.chat-info {
    line-height: 13px;
}

.chat-singola{
    border-top: 1px solid #dcdcdc;
}

.active{
    background-color: lightgray;;
}

/* Sezione colonna 2 header */

.left-border {
    border-left: 1px solid #c0bebe;
}

/* Sezione colonna 2 main */

.colonna-2-main {
    background-image: url("../img/mine.jpg");
    height: 500px;
}


/* Sezione colonna 2 footer */

.colonna-2-footer {
    background-color: lightgray;
}

.audio-container,
.emoticon-container{
    width: 10%;
}

.container-messaggio{
    width: 80%;
}

.container-messaggio input {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px;
}